.Langing {
  background-image: url("../img/stars.png");
  background-color: black;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
img {
  width: 25%;
  transform: rotate(-30deg);
}
h1 {
  color: rgba(254, 59, 31, 1);
  font-size: 45px;
}
p {
  color: white;
  text-decoration: underline;
  cursor: pointer;
  z-index: 100;
}
.Langing button {
  display: inline-block;
  height: 10%;
  width: 20%;
  border-radius: 50px;
  font-size: x-large;
  color: white;
  cursor: pointer;
  background-color: rgba(254, 59, 31, 1);
}
